{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1 style="text-align: center;">Welcome!!</h1>
    <h1>You have landed on Homepage of DISH Network</h1>
    <BR>
    <h2 style="text-align: center;">Automated CI/CD Pipeline using AWS, Jenkins and GitHub</h2>

<!--h2 style="text-align: center;">
<p id="date"></p>
<script>
document.getElementById("date").innerHTML = Date();
</script>
</h2-->

&nbsp;
    
    <img style="display: block; margin-left: auto; margin-right: auto;" src="http://filecache.mediaroom.com/mr5mr_dish/179539/DISH_WORDMARK_RED_LOGO_1115818_RGB_Newsroom__thumbnail.png"
        width="200" height="72" /><img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.upress.umn.edu/book-division/books/the-interface/IBM_logo.png/image"
        width="196" height="72" />
</div>
<p>{% endblock %}</p>